@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <form action="download"
                  method="get">
                <input type="submit" value="下载">
            </form>
            <!--<div class="row">-->
                <!--<div class="col-sm-6 b-r">-->
                            <!--&lt;!&ndash;<#input id="id" name="" underline="true"/>&ndash;&gt;-->
                            <!--<#input id="homeworkId" name="作业编号" underline="true"/>-->
                            <!--<#input id="stuId" name="学生账号" underline="true"/>-->
                            <!--<#input id="fileName" name="作业名称" underline="true"/>-->
                            <!--<#input id="filePath" name="文件路径"/>-->
                <!--</div>-->

                <!--<div class="col-sm-6">-->
                            <!--<#input id="grade" name="分数" underline="true"/>-->
                            <!--<#input id="ifLock" name="是否锁定" underline="true"/>-->
                            <!--<#input id="ifAudit" name="是否批改" underline="true"/>-->
                            <!--<#input id="submitTime" name="提交时间" underline="true"/>-->
                            <!--<#input id="assId" name="助教账号" underline="true"/>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row btn-group-m-t">-->
                <!--<div class="col-sm-10">-->
                    <!--<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CmStujobInfoDlg.addSubmit()"/>-->
                    <!--<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CmStujobInfoDlg.close()"/>-->
                <!--</div>-->
            <!--</div>-->
        </div>

    </div>
</div>
<!--<script src="${ctxPath}/static/modular/checkjob/cmStujob/cmStujob_info.js"></script>-->
@}
