@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <form action="upload" method="POST" enctype="multipart/form-data">
                <!--<input type="file" name="file"/>-->
                <!--<input type="submit" value="Upload"/>-->
                <!--上传用户：<input type="text" name="userName"><br/>-->
                <!--上传文件1：<input type="file" name="file1"><br/>-->
                <input type="file" name="file"><br/>
                <input type="submit" value="提交">
            </form>
            </div>

            <!--<div class="row btn-group-m-t">-->
                <!--<div class="col-sm-10">-->
                    <!--<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CmStuuploadInfoDlg.addSubmit()"/>-->
                    <!--<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CmStuuploadInfoDlg.close()"/>-->
                <!--</div>-->
            <!--</div>-->
        </div>

    </div>
<!--<script src="${ctxPath}/static/modular/stuupload/cmStuupload/cmStuupload_info.js"></script>-->
<!--<script src="${ctxPath}/static/modular/stuupload/cmStuupload/cmStuupload_info.js"></script>-->
<!--<script>-->
    <!--laydate.render({-->
        <!--elem: '#submitTime'-->
    <!--});-->
<!--</script>-->
@}
