<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.CmTeacherfileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.CmTeacherfile">
        <id column="id" property="id" />
        <result column="class_id" property="classId" />
        <result column="file_name" property="fileName" />
        <result column="file_path" property="filePath" />
        <result column="teacher_account" property="teacherAccount" />
        <result column="is_share" property="isShare" />
        <result column="deptid" property="deptid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, class_id, file_name, file_path,teacher_account,is_share,deptid
    </sql>

</mapper>
